<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to {{ inventory_hostname_short }}!</title>
        <style>
            body {
                max-width: 35em;
                margin: 0 auto;
                font-family: Tahoma, Verdana, Arial, sans-serif;
{% if nginx_default_page.dark_theme %}
                background: #151515;
                color: #eaeaea;
{% endif %}
            }
        </style>
    </head>
    <body>
        <h1>It works!</h1>
        <h2>Welcome to {{ inventory_hostname_short }} server</h2>
        <p>This is the default page.</p>
        <hr />
{% if nginx_default_page.show_admin_footer %}
        <p><em>In case of troubles, contact administrator at <a href="mailto:{{ admin_mails[0] }}">{{ admin_mails[0] }}</a>.</em></p>
{% endif %}
    </body>
</html>
