#!/bin/bash
## simp_le-wrapper
#
#   Author:     Vojtech Myslivec <vojtech@xmyslivec.cz>
#   License:    GPLv2
#
#   Description:
#               A wrapper for simp_le tool. This wrapper handles simp_le
#               command, log and email notification. Read script' usage
#               and README in the repository for more info.
#
#               A big thanks comes to 'kuba', simp_le author
#               and 'zenhack', simp_le maintainer.
#
#   Links:
#               https://github.com/zenhack/simp_le/
#               https://gitlab.xmyslivec.cz/skripty/simp_le-wrapper/
#

# safer options
set -o nounset
set -o pipefail

# ====================================================================
SCRIPTNAME=${0##*/}
USAGE="USAGE
    $SCRIPTNAME instance email domain_name...

    A wrapper to handle letsencrypt certificates deploy and renewal
    via simp_le tool.
    It will automatically try to obtain and/or renew the letsencrypt
    certificates and send a notification to an email, if the certificate
    was issued or if some error happened. If the certificates was
    already present and actual, silently ends.

    An output directory (in the simp_le' user home) will be set according
    to first domain_name specified.

    Suitable to run via cron daily (or any other interval).

        instance        Unique name of the certificate on the server. It is
                        used as output dir in ~simp_le_user/simp_le/'instance'
        email           For which email the certificate should be registered
                        and where notifications are being sent.
        domain_name     A CN for which the certificate should be obtained.
                        Any other domain_name will be treated like SAN
                        in the certificate."


# ====================================================================
# VARIABLES
simp_le='/usr/local/sbin/simp_le'
simp_le_user="letsencrypt"
simp_le_home=$( eval echo ~"$simp_le_user" )
webroot_dir="$simp_le_home/webroot"
output_parent_dir="$simp_le_home/simp_le"
log='{{ simp_le.log_dir }}/simp_le.log'


# ====================================================================
# Functions

# --------------------------------------------------------------------
# will log timestamp and arguments and to file
logger() {
    local time_format="%Y-%m-%d %H:%M:%S"
    echo "$( date "+$time_format" ): $*" >> "$log"
}
# will echo arguments to stderr
echo_stderr() {
    echo "$*" >&2
}
# log and echo arguments to stderr
error() {
    local msg="$*"
    echo_stderr "$msg"
    logger "$msg"
}

# --------------------------------------------------------------------
# will check usage and variables,
# also sets the output_dir and domains variable
usage() {
    # help ?
    [ $# -eq 1 ] && [ "$1" == "-h" -o "$1" == "--help" ] && {
        echo "$USAGE"
        exit 0
    }

    # correct args number
    [ $# -lt 3 ] && {
        echo "$USAGE" >&2
        exit 1
    }

    # checks the simp_le tool
    [ -x "$simp_le" ] || {
        error 'ERROR: simp_le executable not found'
        exit 5
    }

    # sets the variables and check output_dir
    instance="$1"
    shift
    [[ "$instance" =~ ^[a-zA-Z0-9_-]+$ ]] || {
        error 'ERROR: invalid instance name'
        exit 1
    }

    email="$1"
    shift
    [[ "$email" =~ ^.*@.*\..*$ ]] || {
        error 'ERROR: invalid e-mail address'
        exit 1
    }

    local domain_CN=$1
    domains=( "$@" )

    output_dir="$output_parent_dir/$instance"
    mkdir -p "$output_dir"
    chown "${simp_le_user}:" "$output_dir"
    [ -d "$output_dir" -a -w "$output_dir" ] || {
        error "ERROR: output_dir '$output_dir' is not a writable directory."
        exit 5
    }

}

# --------------------------------------------------------------------
# transform domains into simp_le form of parameters to stdout
domains_as_parameters() {
    local d
    for d in "${domains[@]}"; do
        echo "-d $d"
    done
}


# --------------------------------------------------------------------
# transform domains into simp_le form of parameters to stdout
domains_as_list() {
    local d
    for d in "${domains[@]}"; do
        echo   "    - $d"
    done

}

# --------------------------------------------------------------------
# will print server error message
services_notification() {
    echo_stderr "Dear admin,

I wasn't able to restart services. I need you to fix it.

Sincerely, your $SCRIPTNAME"
}

# --------------------------------------------------------------------
# will print error notification mesage
error_notification() {
    echo_stderr "Dear admin,

some error happened during certificate renewal for the following
domains:
$( domains_as_list )

More information can be found in log '$log'.

Sincerely, your $SCRIPTNAME"
}

# --------------------------------------------------------------------
restart_services() {
    local rc=0

    logger 'Restarting services'
    systemctl reload nginx.service || {
        error 'ERROR while reloading nginx'
        rc=1
    }

{% for cmd in certs_restart_commands %}
    {{ cmd }} || {
        error 'ERROR restart command failed: {{ cmd }}'
        rc=1
    }
{% endfor %}

    return "$rc"
}

# --------------------------------------------------------------------
# will obtain and/or renew the certs in the output directory
# returns simp_le return codes
renew_certificates() {
    # need to cd, simp_le will always output to working directory
    (
        cd "$output_dir"
        # add following parameter (line) for testing (LE staging area):
        # --server 'https://acme-staging-v02.api.letsencrypt.org/directory' \
        # apache 2.2 -> `-f chain.pem -f cert.pem` instead `-f fullchain.pem`
        sudo -n -u "$simp_le_user" \
            "$simp_le"  --reuse_key \
                        --email "$email" \
                        --default_root "$webroot_dir" \
                        -f account_key.json -f account_reg.json \
                        -f key.pem -f fullchain.pem \
                        $(domains_as_parameters) \
            &>> "$log"
    )
}

# --------------------------------------------------------------------
main() {
    usage "$@"

    logger "simp_le wrapper starts: $SCRIPTNAME $*"
    renew_certificates
    local ret=$?
    case "$ret" in
        # certificate was renewed
        0)
            logger "Certificate was renewed"
            restart_services || {
                services_notification
                return 1
            }
            ;;

        # certificate was up-to-date
        1)
            logger "Certificates was up-to-date"
            return 0
            ;;

        # error happened
        *)
            logger "Some error happened"
            error_notification
            return "$ret"
            ;;
    esac
}

# ====================================================================
# PROGRAM

main "$@"
