## nginx.conf
#
# nginx status virtual host

server {
    listen 127.0.0.1:{{ nginx_status_vhost.port }};
    listen [::1]:{{ nginx_status_vhost.port }};

    server_name localhost;

    access_log off;
    deny all;

    location /nginx_status {
        stub_status;
        allow all;
    }
}
