## access
#
# Postfix access ACL file

{% for domain in mail_domains + mail_relay_domains %}
abuse@{{ domain }}      REJECT Restricted sender address
admin@{{ domain }}      REJECT Restricted sender address
postmaster@{{ domain }} REJECT Restricted sender address
root@{{ domain }}       REJECT Restricted sender address
{{ domain }}            OK
{% endfor %}
