## vmailbox
#
# list of postfix virtual mailboxes
{% for user in mail_virtual_users %}
{%   if user.forward_to is not defined %}
{%     set (name, domain) = user.email.split('@') %}
{{ user.email }} {{ domain }}/{{ name }}/
{%   endif%}
{% endfor %}
