## nginx.conf
#
# simple redirect for {{ vhost.name }}

{# macros ######################################################### #}
{% macro common_config() %}
    server_name {{ vhost.server_name }} {{ vhost.aliases | default([]) | join(" ") }};

    access_log /var/log/nginx/redirect_{{ vhost.name }}-access.log;
    error_log  /var/log/nginx/redirect_{{ vhost.name }}-error.log;

    include snippets/common.conf;
    include snippets/simp_le.conf;
{% endmacro %}


{% macro redirect_config() %}
    location / {
        return {{ vhost.redirect_code | default('301') }} {{ vhost.redirect_target }};
    }

{# custom vhost configuration #}
{%   if vhost.vhost_config is defined %}
{{     vhost.vhost_config }}
{%   endif %}
{% endmacro %}


{# http vhost ##################################################### #}
server {
    listen 80;
    listen [::]:80;

{{ common_config() }}

{% if vhost.https_enabled | default(true) and vhost.https_redirect | default(true) %}
    include snippets/https_redirect.conf;
{% else %}
{{   redirect_config() }}
{% endif %}
}


{# https vhost #################################################### #}
{% if vhost.https_enabled | default(true) %}
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

{{   common_config() }}

    include snippets/tls_1.3-1.2.conf;
{%   if vhost.https_redirect | default(true) %}
    include snippets/tls_hsts.conf;
{%   endif %}

{%   if vhost.https_letsencrypt | default(true) %}
    ssl_certificate {{ simp_le_home_dir }}/simp_le/{{ vhost.name }}/fullchain.pem;
    ssl_certificate_key {{ simp_le_home_dir }}/simp_le/{{ vhost.name }}/key.pem;
{%   else %}
    ssl_certificate {{ vhost.https_cert | default('/etc/ssl/certs/ssl-cert-snakeoil.pem') }};
    ssl_certificate_key {{ vhost.https_key | default('/etc/ssl/private/ssl-cert-snakeoil.key') }};
{%   endif %}

{{   redirect_config() }}
}
{% endif %}
