#!/bin/bash
set -o nounset
set -o errexit

SCRIPTNAME=${0##*/}
USAGE="USAGE
    $SCRIPTNAME --help
    $SCRIPTNAME -rf snapshot

DESCRIPTION
    An alternative \`rm -rf\` for rsnapshot to remove target of a \"snapshot\"
    if it is a symbolic link including the \"snapshot\" itself.

{% if rsnapshot_btrfs_backend %}
    This script actually removes btrfs snapshot \"snapshot\" (or its target in
    case of symbolic link).

{% endif %}
OPTIONS
    --help
            Print this help and exit

ARGUMENTS
    All arguments are required

    -rf
            rsnapshot calls \`rm\` with these arguments everytime

    snapshot
{% if rsnapshot_btrfs_backend %}
            Path (or symbolic link) to a btrfs snapshot to remove
{% else %}
            Path (or symbolic link) to a snapshot to remove
{% endif %}

EXAMPLES

    Example usage for rsnapshot
        $SCRIPTNAME -rf /mnt/backup/daily.6
"


err_print() {
    echo "$SCRIPTNAME: error: $*" >&2
}


# usage ---------------------------------------------------
[[ $# -eq 1 ]] && [[ "$1" == '--help' ]] && {
    echo "$USAGE"
    exit 0
}

[[ $# -eq 2 ]] || {
    err_print "Wrong number of arguments ($#)"
    exit 1
}

options="$1"
snapshot_link="${2%/}"

[[ "$options" == '-rf' ]] || {
    err_print "First argument ($options) must be literal '-rf'"
    exit 1
}

snapshot=$(readlink -f "$snapshot_link") || {
    err_print "Could not resolve subvolume name ($snapshot_link)"
    exit 1
}

{% if rsnapshot_btrfs_backend %}
info=$(btrfs subvolume show "$snapshot" 2> /dev/null) || {
    err_print "Path ($snapshot) is not a btrfs subvolume"
    exit 1
}

puuid=$(gawk -F '\\t+|:\\s+' '$2 == "Parent UUID" {print $3}'<<<"$info")
[[ "$puuid" =~ ^[[:xdigit:]]{8}-([[:xdigit:]]{4}-){3}[[:xdigit:]]{12}$ ]] || {
    err_print "Path ($snapshot) does not appear as a snapshot"
    exit 1
}
{% else %}
[[ -d "$snapshot" ]] || {
    err_print "Path ($snapshot) is not a directory"
    exit 1
}
{% endif %}


# ---------------------------------------------------------
{% if rsnapshot_btrfs_backend %}
btrfs subvolume delete "$snapshot" > /dev/null
{% else %}
rm -rf -- "$snapshot"
{% endif %}
if [ -L "$snapshot_link" ]; then
    rm "$snapshot_link"
fi
