## /etc/hosts
#

127.0.0.1 localhost
{% if ipv4_address is defined %}
{{ ipv4_address }} {{ hostname }} {{ inventory_hostname }}
{% else %}
127.0.1.1 {{ hostname }} {{ inventory_hostname }}
{% endif %}

{% for host in extra_hosts %}
{%   if host.ipv4_address is defined %}
{{ host.ipv4_address }} {{ host.hostname }}
{%   endif %}
{% endfor %}


# The following lines are desirable for IPv6 capable hosts
::1 localhost ip6-localhost ip6-loopback
{% if ipv6_address is defined %}
{{ ipv6_address }} {{ hostname }} {{ inventory_hostname }}
{% endif %}
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts

{% for host in extra_hosts %}
{%   if host.ipv6_address is defined %}
{{ host.ipv6_address }} {{ host.hostname }}
{%   endif %}
{% endfor %}
