## nginx.conf
#
# reverse proxy for {{ vhost.name }}

{# macros ######################################################### #}
{% macro common_config() %}
    server_name {{ vhost.server_name }} {{ vhost.aliases | default([]) | join(" ") }};

    access_log /var/log/nginx/proxy_{{ vhost.name }}-access.log;
    error_log  /var/log/nginx/proxy_{{ vhost.name }}-error.log;

    include snippets/common.conf;
    include snippets/simp_le.conf;
{% endmacro %}


{% macro proxy_config() %}
{%   if vhost.server_name_redirect | default(true) %}
    include snippets/server-name_redirect.conf;
{%   endif %}
{%   if vhost.security_headers | default(true) %}
    include snippets/security-headers.conf;
{%   endif %}

    include proxy_params;
{%   if vhost.proxy_timeout is defined %}
    proxy_read_timeout {{ vhost.proxy_timeout }};
{%   endif %}
    # proxy handles HSTS itself
    proxy_hide_header Strict-Transport-Security;

{%   if vhost.restricted | default(false) %}
    auth_basic "Authorized access only";
    auth_basic_user_file private/proxy_{{ vhost.name }}.htpasswd;
{%   endif %}

{%   if vhost.websocket_enabled | default(false) %}
    # support web sockets
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "Upgrade";
{%   endif %}

    location {{ vhost.proxy_location | default('/') }} {
        proxy_pass {{ vhost.proxy_protocol | default('http') }}://{{ vhost.name }}{{ vhost.proxy_target | default('') }};
    }

{#   redirect to proxy_location #}
{%   if vhost.proxy_redirect | default(true) and vhost.proxy_location | default('/') != '/' %}
    location / {
{#      strip the trailing / #}
        rewrite ^ {{ vhost.proxy_location | regex_replace('/$', '') }}$request_uri redirect;
    }
{%   endif %}

{#   custom vhost configuration #}
{{   vhost.vhost_config | default('') }}
{% endmacro %}


{# upstream ####################################################### #}
upstream {{ vhost.name }} {
{% for server in vhost.proxy_servers %}
    server {{ server }};
{% endfor %}
}

{# custom nginx configuration ##################################### #}
{{ vhost.nginx_config | default('') }}


{# http vhost ##################################################### #}
server {
    listen 80;
    listen [::]:80;

{{ common_config() }}

{% if vhost.https_enabled | default(true) and vhost.https_redirect | default(true) %}
    include snippets/https_redirect.conf;
{% else %}
{{   proxy_config() }}
{% endif %}
}


{# https vhost #################################################### #}
{% if vhost.https_enabled | default(true) %}
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

{{   common_config() }}

    include snippets/tls_1.3-1.2.conf;
{%   if vhost.https_redirect | default(true) %}
    include snippets/tls_hsts.conf;
{%   endif %}

{%   if vhost.https_letsencrypt | default(true) %}
    ssl_certificate {{ simp_le_home_dir }}/simp_le/{{ vhost.name }}/fullchain.pem;
    ssl_certificate_key {{ simp_le_home_dir }}/simp_le/{{ vhost.name }}/key.pem;
{%   else %}
    ssl_certificate {{ vhost.https_cert | default('/etc/ssl/certs/ssl-cert-snakeoil.pem') }};
    ssl_certificate_key {{ vhost.https_key | default('/etc/ssl/private/ssl-cert-snakeoil.key') }};
{%   endif %}

{{   proxy_config() }}
}
{% endif %}
