## zabbix_agentd.conf
#
# User parameters configuration for custom monitoring scripts

{% for script in zabbix_monitoring_scripts %}
UserParameter={{ script.parameter }}, sudo /etc/zabbix/scripts/{{ script.path|quote }}
{% endfor %}
